/*/////////////////////////
        reused 
/////////////////////////*/
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .container {
    flex-direction: column;
    gap: 20px 0;
    margin: 30px auto;
}
/*/////////////////////////
        header 
/////////////////////////*/
.header {
    background-color: #5d17e7;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    height: auto !important;
    position: relative;
}
.header__h1 {
    font-size: 3rem;
    font-weight: 900;
}
.header__p {
    font-size: 1.2rem;
    font-size: 500;
}
.header__sheet {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.6rem;
    color: #5d17e7;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .header__sheet {
        left: 10%;
    }
}
@media (max-width: 575px) {
    .header__sheet {
        left: 6%;
    }
}
@media (max-width: 375px) {
    .header__sheet {
        top: 40%;
        left: 10%;
    }
}
/*/////////////////////////
        main 
/////////////////////////*/
.info__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: 15%;
}
.info__title {
    font-size: 2rem;
    font-weight: 600;
}
.info__title::before {
    content: "● ";
    color: #5d17e7;
}
.info__body {    
    margin-right: 30px;
    font-size: 1.4rem;
}
.info__body::before {    
    content: "◉ ";
    color: rgba(93, 23, 231,0.7);
}
@media (max-width: 1024px) {
    .info__content {
        width: auto;
        margin-left: auto;
        margin-right: 5%;
    }
}
@media (max-width: 570px) {
    .info__title {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .info__body {    
        margin-right: 30px;
        font-size: 1.2rem;
    }
}
/*/////////////////////////
        question moudle 
/////////////////////////*/
.question {
    text-align: center;
    width: 500px;
    height: 250px;
    border: 1px solid #5d17e7;
    background-color: rgba(93, 23, 231,0.1);
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}
.question * {
    background-color: transparent;
    border-color: transparent;
}
.question__h2 {
    font-size: 2rem;
    background-color: #5d17e7;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    height: 20%;
}
.question__quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 80%;
    width: 100%;
}
.question__quiz--show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.question__quiz--p {
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
}
.question__controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
}
.question__controls * {
    outline: none;
    border: none;
    background-color: #5d17e7;
    color: #fff;
    margin: 5px;
    width: 300px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question__result {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background-color: #5d17e7;
    padding: 10px 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    margin: 20px 0;
}
@media (max-width:575px) {
    .header__h1 {
        font-size: 2.8rem;
        font-weight: 700;
    }
    .header__p {
        font-size: 1rem;
        font-size: 300;
    }
    .container {
        width: 100%;
    }
    .question {
        width: 310px;
        margin: 20px auto;
    }
    .question__quiz--p {
        font-size: 1.6rem;
    }
    .question__controls * {
        width: 70px;
    }
}
